@font-face {
  font-family: 'Raleway-Medium';
  src: url('fonts/RW Med/Raleway-Medium.eot');
  src: url('fonts/RW Med/Raleway-Medium.woff2') format('woff2'),
       url('fonts/RW Med/Raleway-Medium.woff') format('woff'),
       url('fonts/RW Med/Raleway-Medium.ttf') format('truetype'),
       url('fonts/RW Med/Raleway-Medium.svg#Raleway-Medium') format('svg'),
       url('fonts/RW Med/Raleway-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('fonts/PF Reg/PlayfairDisplay-Regular.eot');
  src: url('fonts/PF Reg/PlayfairDisplay-Regular.woff2') format('woff2'),
       url('fonts/PF Reg/PlayfairDisplay-Regular.woff') format('woff'),
       url('fonts/PF Reg/PlayfairDisplay-Regular.ttf') format('truetype'),
       url('fonts/PF Reg/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg'),
       url('fonts/PF Reg/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
