html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*    CSS RESET    */
/*   NAVI BAR   */


.container {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
}

.navi{
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px;
}

.aloha-logo{
  order: 1;
  flex: 1;
  width: 50%;
  height: 60px;
  display: flex;
}

.logo{
  height: 50px;
}

.cart-icon{
  order: 2;
  flex: 1;
  width: 50%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}


.tabs {
  color: #e2574c;
  text-transform: uppercase;
  order: 3;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs li{
  margin: 0 10px;
  display: inline-block;
  font-family: Raleway-Medium;
}


/*end of navi bar*/
/*banner section*/


.header1 {
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), 
  url(images/banner-girl.png) center 40px no-repeat,
  url(images/flower-bkgd.jpg) repeat-x center;
  background-size: cover, contain;
  height: 400px;
  width: 100%;
  position: relative;
  padding: 0%;
  margin: 0%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannertext{
  height: 100px;
  width: 80%;
}

h1 {
  font-family: PlayfairDisplay-Regular;
  font-size: 35px;
}

.bannertext p{
  text-transform: uppercase;
  color: #fff;
  line-height: 50px;
  font-family: Raleway-Medium;
}

/*end of banner section*/
/*body section*/

h2, h3, h4 {
  font-family: PlayfairDisplay-Italic, sans-serif;
  font-size: 35px;
}

span{
  font-family: PlayfairDisplay-Bold;
}

.about {
  width: 100%;
  padding: 60px 0;
}

h2{
  margin: 0, 0, 20px, 0;
}

.about p{
  line-height: 2;
  margin: 10px;
}

/*.item:nth-child(2n) {
  background-color: RoyalBlue;
}*/

p{
  font-family: Raleway-Light, sans-serif;
  font-size: 16px;
  color: #2d2d2d;
}

/*end of body section*/
/*catergory section*/

.categories{
  display: flex;
  height: 800px;
}

.selection p{
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-family: Raleway-Medium;
  font-weight: bold;
}

.selection{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
}

.Mens{
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/mens-category.jpg);
  width: 100%;
  order: 1;
  height: 192.5px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Trends{
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/trends-category.jpg);
  width: 50%;
  order: 2;
  height: 192.5px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Glasses{
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/glasses-category.jpg);
  width: 50%;
  order: 3;
  height: 192.5px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Sale{
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/sale-category.jpg);
  width: 50%;
  order: 4;
  height: 192.5px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bags{
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/bags-category.jpg);
  width: 50%;
  order: 5;
  height: 192.5px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Women{
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/womens-category.jpg);
  width: 100%;
  order: 6;
  height: 192.5px;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*end of category section*/
/*subscribe section*/

.subscribe{
  background: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(images/wave-bkgd.jpg) no-repeat bottom;
  height: 330px;
  color: white;
  line-height: 80px;
}

.subscribe p{
  color: white;
  line-height: 30px;
  margin: 0 5px;
}

/*end of subsribe section*/
/*footer section*/

footer{
  margin: 10px 0 0 0;
  background-color: #242424;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
}

.bottom{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.trademark, .address{
    margin: 0 0 15px 0;
}

.trademark p{
  color: white;
  font-family: PlayfairDisplay-regular;
  text-align: center;
}

.address p{
  color: #969696;
  text-align: center;
  font-family: PlayfairDisplay-Regular;
}


.social{
  color: #FFF;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.social li{
    margin: 10px;
}

.socialtext{
  display: none;
}

/*                                     END OF MOBILE RESPONSIVE: ;                               */

@media (min-width:600px){

/*nav section*/

.aloha-logo{
  order: 1;
  flex: 1;
  height: 60px;
}

.cart-icon{
  order: 3;
  flex: 1;
  height: 60px;
}

.tabs {
  order: 2;
  flex: 3;
  height: 40px;
  display: flex;
  align-items: flex-end;
  word-spacing: -10px;
}

/*end of nav section*/
/*banner section*/

.header1 {
  height: 400px;
}

h1 {
  font-size: 50px;
  padding: 0 30px;
}

.bannertext p{
  font-size: 24px;
  line-height: 60px;
}

/*end of banner section*/
/*body content*/

h2, h3, h4 {
  font-size: 40px;
}

.about {
  padding: 50px 0;
}

.about p{
  line-height: 2;
  margin: 21px;
}

p{
  font-size: 19px;
}

/*end of body section*/
/*category section*/

.categories{
  height: 300px;
}

.selection p{
  font-size: 30px;
}

.Mens{
  width: 50%;
  height: 144px;
}

.Trends{
  width: 25%;
  height: 144px;
}

.Glasses{
  width: 25%;
  height: 144px;
}

.Sale{
  width: 25%;
  height: 144px;
}

.Bags{
  width: 25%;
  height: 144px;
}

.Women{
  width: 50%;
  height: 144px;
}

/*end category section*/
/*subscribe section*/

.subscribe{
  height: 380px;
  line-height: 100px;
}

.subscribe p{
  line-height: 35px;
  margin: 0 10px;
}

/*end of subsribe section*/
/*footer section*/

footer{
  height: 285px;
  display: flex;
  align-items: center;
}

.bottom{
  height: 60%;
  display: flex;
  flex-direction: row;
}

.foottext{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.email{
  margin: 20px 0 10px 0;
}

.trademark p, .address p{
  text-align: start;
  font-size: 17px;
  line-height: 23px;
}




.social{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.social li{
    margin: 7.8px 0;
    padding: 0 0 0 120px;
}

.socialtext{
  display: inline;
}




}